* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    background: #d8d8d8;
    color: #333;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: rgb(80, 80, 80);
}

ul img {
    text-align: right;
    display: flex;
    justify-content: right;
    height: 75px;
}

.active {
    background-color: #444444;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-top: 60px;
}

.grid-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    width: 80%;
}

.grid-item {
    background: white;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    grid-column: span 3;
}

.grid-item h2 {
    margin: 0;
    text-align: center;
}

.grid-item form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.grid-item label {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}

.grid-item input[type="text"], 
.grid-item input[type="email"],
.grid-item input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.grid-item input[type="submit"] {
    margin-top: 15px;
    background: #444;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 50%;
    border-radius: 5px;
}

.grid-item input[type="submit"]:hover {
    background: #222;
}


footer {
    background: gray;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

@media (max-width: 1024px) {
    .grid-layout {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .grid-layout {
        grid-template-columns: repeat(1, 1fr);
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
    }
}
