body {
    margin:0;
    background: #d8d8d8;
    font-family: "Jost", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: gray;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(80, 80, 80);
}

ul img {
    text-align: right;
    display: flex;
    justify-content: right;
    height: 75px;
}

.active {
  background-color: #444444;
}

.header {
    justify-content: center;
    text-align: center;
}

.header img {
    height: 300px;
    margin-bottom: -125px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
    align-items: start;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.container > div {
    background-color: white;
    text-align: center;
    
    font-size: 30px;
}

.header {
    grid-column: span 3;
    width: 100%;
    max-width: 100%;
}

.left {
    height: auto;
    padding: 20px;
    grid-row: span 3;
}

.left h2 {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 15px;
}

.news-card {
    width: 320px;
    margin: 0 auto 15px;
    background: rgb(199, 199, 199);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}


.news-card:hover {
    transform: scale(1.03);
}

.news-card img {
    width: 320px;
    height: auto;
    display: block;
}

.news-card a {
    display: block;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    text-align: center;
    transition: color 0.3s ease-in-out;
}

.news-card a:hover {
    color: #007bff;
}

.center {
    align-self: start;
}

.artic-img img {
    margin-top: 0.5%;
    width: 712px;
    height: 350px;
    justify-items: center;
    display: flexbox;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.artic-img {
    background-color: rgb(167, 167, 167);
    border-radius: 12px;
    width: 100%;
    max-width: 100%;
}

.artic-img h2 {
    text-align: center;
    margin: 0.5% 1% 1%;
}

.artic-img p {
    justify-items: left;
    text-align: left;
    font-size: 15px;
    margin: 0 1% 1%;
}

.artic-txt {
    width: 100%;
    max-width: 100%;
}

.artic-txt article {
    text-align: justify;
    margin: 1%;
}

.right {
    width: 100%;
    max-width: 100%;
}


.about {
    width: 350px;
    height: 350px;
    background-color: #aaaaaa;
    align-items: center;
    margin: auto auto 5%;
    border-radius: 15px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.about article {
    width: 100%;
    height: 100%;
    max-width: 100%;
    padding: 10px;
    overflow: auto;
    margin: auto;
    text-align: justify;
}

.footer {
    background-color: gray;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 14px;
}
